.signin {
  margin-top: 120px;
  padding: 100px 0 150px;
  background: url("../images/signin_bg.jpg") fixed no-repeat center / cover;
}

.signin h1 {
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.signin .signin__card {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
  color: #555;
}

.signin .signin__card h2 {
  padding: 30px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  text-align: center;
}

.signin .signin__card h2 span {
  font-weight: 700;
  color: #006633;
}

.signin .signin__card form {
  padding: 30px 22px;
}

.signin .signin__card form input {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.signin .signin__card form [type="submit"] {
  background-color: #006633;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.signin .signin__card form p {
  font-size: 12px;
  text-align: center;
  columns: #006633;
}

.signin .signin__card .actions {
  display: flex;
  border-top: 1px solid #ddd;
}

.signin .signin__card .actions a {
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px;
  border-right: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
  color: #555;
  
}

.signin .signin__card .actions a:last-child {
  border-right: none;
}

.signin .signin__card .actions a:hover {
  text-decoration: underline;
  transition: all 0.3s;
}

